.calcButtons {
   background-color:rgb(23, 241, 169);
   width: 40px;
}

calcButtons:hover {
    background-color:white;
 }

#unit{
   margin:auto;
   margin-top: 100px;
   width: 300px;
}

.calcButtons {
   width: 75px;
   height: 75px;
}

#numberKeys {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* #numberKeys {
  display: flex;
  justify-content: center;
  align-items: center;
} */

